<h1 class="mb-4">Dog Breeds</h1>

<p class="lead">
  Browse over 100 dog breeds, search by name, and read sample reviews.
</p>

<%= form_with url: breeds_path, method: :get, local: true, class: "mb-4" do %>
  <div class="row">
    <div class="col-md-8">
      <%= text_field_tag :search, params[:search], placeholder: "Search for a dog breed...", class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<div class="row">
  <% @breeds.each do |breed| %>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5><%= breed.name %></h5>

          <p>
            Reviews:
            <strong><%= breed.reviews.count %></strong>
          </p>

          <%= link_to "View Details", breed_path(breed), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <%= paginate @breeds %>
</div>