<h1><%= @breed.name %></h1>

<h2>Reviews</h2>

<ul>
  <% @breed.reviews.each do |review| %>
    <li>
      <strong><%= review.reviewer_name %></strong>
      (Rating: <%= review.rating %>/5)
      <br>
      <%= review.comment %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Breeds", breeds_path %>
